body {
    color: 3e3e3e;
    font-family: 'Open Sans', sans-serif;
    font-size: 83%;
    line-height: normal;
}

a {
    color: #3988e2;
    text-decoration: none;
    border-bottom: 1.4px solid #3988e2;
    /* border-bottom-color: blue; */
}

h1 {
    color: #444343;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 5em;
    margin-bottom: 0.5%;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.wrapper {
    width: 85vw;
    margin-left: 15vw;
}

.title {
    height: auto;
}

#about-wrapper {
    position: absolute;
    bottom: 15vh;
    /* margin-top: 58vh; */
    /* border: 1px solid red; */
}

.content {
    font-size: 1.2em;
    font-weight: bolder;
}

#projects {
    background-color: #4b4f5a;
    height: auto;
    padding-top: 15vh;
    padding-bottom: 2vh;
}

#projects-title {
    color: white;
}

.flexbox-container {
    margin-top: 4vh;
    width: 39.5vw;

    list-style: none;

    display: -webkit-box;
    display: -moz-%;box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.projects-content {
    display: inline-block;
    width: 210px;
    height: 200px;
    margin-bottom: 10%;
    border-radius: 5%;

    flex: 0 1 auto;
}

#red {
    background-color:lightgrey;
}
#green {
    background-color: darkgrey;
}
#blue {
    background-color: white;
}

#teaching {
    background-color: #eeeeef;
    display: flex;
    align-items: center;
}

#teaching-wrapper {
    border: 1px solid red;
}

.teaching-content {
    font-size: 1.2em;
    font-weight: bold;
    display: table;
}

table {
    width: 100%;
}
td {
    width: 50%;
    /* border: 1px solid black; */
     border-collapse: separate;
    nowrap: nowrap;
}
