body {
    color: 3e3e3e;
    font-family: 'Open Sans', sans-serif;
    font-size: 83%;
    line-height: normal;
}

a {
    color: #3988e2;
    text-decoration: none;
    border-bottom: 1.4px solid #3988e2;
}

h1 {
    color: #444343;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 5em;
    margin-bottom: 0.5%;
}

.page {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.wrapper {
    width: 65vw;
    margin-left: 15vw;
}

.nav-flexbox {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    padding-top: 2.5%;
    padding-right: 5%;

    display: -webkit-box;
    display: -moz-%;box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav {
    margin-right: 13%;
}

.nav a {
    display: block;
    text-align: right;
    text-transform: uppercase;
    border-bottom: none;

    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: #5c5d69;
    line-height: 1.5em;
    letter-spacing: 2px;
    /* border: 1px solid red; */
}

.nav a:hover {
    color: #5fa3f1;
}

.nav a:active {
    color: #3988e2;
}

.cancel-icon {
    width: 10px;
    padding-top: 3px;
}

.title {
    height: auto;
}

#about-wrapper {
    position: absolute;
    bottom: 15vh;
}

.content {
    font-size: 1.2em;
    font-weight: bolder;
}

#projects {
    background-color: #4b4f5a;
    height: auto;
    padding-top: 15vh;
    padding-bottom: 2vh;
}

#projects-title {
    color: white;
}

.flexbox-container {
    margin-top: 4vh;
    width: 39.5vw;

    display: -webkit-box;
    display: -moz-%;box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.projects-content {
    display: inline-block;
    width: 210px;
    height: 200px;
    margin-bottom: 10%;
    border-radius: 5%;
    flex: 0 1 auto;
}

#red {
    background-color:lightgrey;
}
#green {
    background-color: darkgrey;
}
#blue {
    background-color: white;
}

#teaching {
    background-color: #eeeeef;
    display: flex;
    align-items: center;
}

.centered-flexbox {
    margin-top: 0;
    width: 100%;
    -webkit-flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid green; */
    height: auto;
}

.flexbox-content {
    font-size: 1.3em;
    font-weight: bold;
    height: auto;
    flex: 0 1 auto;
}

.left {
    display: inline-block;
    width: fit-content;
    margin-right: 3%;

}

.right {
    display: inline-block;
}

#contact {
    display: flex;
    align-items: center;
}

#contact-title {
    /* letter-spacing: 0.05em; */
}

.contacts-flexbox {
    align-self: stretch;
    display: flex;

    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    justify-content: space-evenly;
}

.icons-container {
    margin-right: 15px;
}

img.icon {
    margin-top: 25%;
    width: 25px;
}

.contact-links {
    line-height: 2.5em;
}

.contact-links a {
    width: fit-content;
}
